
@{
    ViewBag.Title = "BIO";
}

<h2>BIO</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Nabil</th>
            <th>nowsher.ali28@gmail.com</th>
            <th>Bashundhara R/A, Road 9/A</th>
            <th>01777975503</th>
            <th>22</th>
        </tr>
    </tbody>
</table>
